<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swcourse.bytebuddy.mybatis.PunchRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swcourse.bytebuddy.mybatis.PunchRecordDO">
        <id column="id" property="id"/>
        <id column="time" property="time"/>
        <id column="open_id" property="openId"/>
        <id column="nick_name" property="nickName"/>
        <id column="name" property="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, time, open_id, nick_name, name
    </sql>

    <insert id="insertDO" parameterType="com.swcourse.bytebuddy.mybatis.PunchRecordDO">
        insert into punch_record
        (id,time,open_id,nick_name,name)
        value(#{id},#{time},#{openId},#{nickName},#{name})
    </insert>

    <insert id="insertXX" parameterType="string">
        insert into punch_record
        (name)
        value(#{param})
    </insert>

    <update id="updateXX">
        update punch_record
        set name = #{param1.name}
        where id = #{id}
    </update>


    <select id="selectAllList" resultType="com.swcourse.bytebuddy.mybatis.PunchRecordDO">
        select * from punch_record
        where id =#{id} and name = #{do.name}
    </select>

</mapper>
